image: 'code.streamcomputing.com/ubuntu:18.04-stc'

variables:
  GIT_SUBMODULE_STRATEGY: recursive
  RISCV: /usr/local
  LD_LIBRARY_PATH: /usr/local/lib

stages:
  - build
  - test
  - package

cache:
  paths:
    - .cache
    - .env
    - build

build:
  stage : build
  script:
    - echo "#define SPIKE_VERSION \"2.0.0-dev-$CI_PIPELINE_ID\"" > VERSION
    - mkdir -p build_v2
    - cd build_v2 && ../configure --with-isa=rv64gcv_zfh --with-varch=vlen:256,elen:32,slen:256 --enable-commitlog --enable-misaligned --prefix=$PWD/../install && make -j`nproc` && cd -

  artifacts:
    paths:
      - build_v2
      - VERSION
    name: build_output

test:
  stage : test
  script:
    - export PATH=$CI_PROJECT_DIR/build_v2:$RISCV/bin:$PATH
    - export LC_ALL=C.UTF-8
    - export LANG=C.UTF-8
    - curl http://releases.streamcomputing.com/host-sdk/hpe/hpe2.x-latest | bash
    - curl http://releases.streamcomputing.com/toolchain/llvm-12/latest | bash
    - git clone --recursive  http://gitlab-ci-token:${CI_JOB_TOKEN}@code.streamcomputing.com/verification/rvpvp-npuv2.git
    - which spike
    - python3 -m pip install --upgrade pip && pip install virtualenv
    - cd rvpvp-npuv2
    - virtualenv -p python3 .env
    - source .env/bin/activate
    - pip install tensorflow
    - pip install -U pip
    - pip install --editable rvpvp
    - rvpvp gen --basic --nproc `nproc`
    - rvpvp run --nproc `nproc`

  artifacts:
    paths:
      - build_v2
      - VERSION
    name: test_output

package:
  stage : package
  script:
    - cd build_v2 && make install && cd -
    - export VER=`echo $CI_COMMIT_REF_NAME | sed 's#/#-#g'`-`date +%Y%m%d`.$CI_PIPELINE_ID
    - export LINK=latest
    - test $CI_COMMIT_REF_NAME = "master" || export LINK=`echo $CI_COMMIT_REF_NAME | sed 's#/#-#g'`
    - mkdir -p archive
    - ./scripts/package.sh $PWD/install archive/spike-installer-$VER.sh
    - ln -sf archive/spike-installer-$VER.sh $LINK
    - 'command -v ssh-agent >/dev/null || ( apt-get update -y && apt-get install openssh-client -y )'
    - eval $(ssh-agent -s)
    - echo "$DEPLOY_PRIVATE_KEY" | tr -d '\r' | ssh-add -
    - mkdir -p ~/.ssh && chmod 700 ~/.ssh
    - echo "$DEPLOY_KNOWN_HOSTS" >> ~/.ssh/known_hosts
    - chmod 644 ~/.ssh/known_hosts
    - tar -jc archive $LINK | ssh $DEPLOY_USER@$DEPLOY_SERVER "tar -xjC ~/files/simulator/spike"
  only:
    - 2.x-dev-ipa
    - tags
