image: 'code.streamcomputing.com/centos:7-stc'

variables:
  GIT_SUBMODULE_STRATEGY: recursive
  RISCV: /usr/local
  LD_LIBRARY_PATH: /usr/local/lib

stages:
  - build
  - package

cache:
  paths:
    - .cache
    - .env

build:
  stage : build
  script:
    - mkdir -p build_v2
    - cd build_v2 && ../configure --with-isa=rv64gcv --enable-commitlog --prefix=$PWD/../install && make -j`nproc` && cd -

  artifacts:
    paths:
      - build_v2
    name: build_output

package:
  stage : package
  script:
    - cd build_v2 && make install && cd -
    - export VER=`echo $CI_COMMIT_REF_NAME | sed 's#/#-#g'`-`date +%Y%m%d`.$CI_PIPELINE_ID
    - export LINK=latest
    - test $CI_COMMIT_REF_NAME = "master" || export LINK=`echo $CI_COMMIT_REF_NAME | sed 's#/#-#g'`
    - mkdir -p archive
    - ./scripts/package.sh $PWD/install archive/spike-installer-$VER.sh
    - ln -sf archive/spike-installer-$VER.sh $LINK
    - 'command -v ssh-agent >/dev/null || ( yum install -y openssh-client )'
    - eval $(ssh-agent -s)
    - echo "$DEPLOY_PRIVATE_KEY" | tr -d '\r' | ssh-add -
    - mkdir -p ~/.ssh && chmod 700 ~/.ssh
    - echo "$DEPLOY_KNOWN_HOSTS" >> ~/.ssh/known_hosts
    - chmod 644 ~/.ssh/known_hosts
    - tar -jc archive $LINK | ssh release@$DEPLOY_SERVER "tar -xjC ~/files/simulator/spike"
  only:
    - 2.x-dev-centos7
    - tags
