image: 'code.streamcomputing.com/stc-toolkit:llvm'

variables:
  GIT_SUBMODULE_STRATEGY: recursive
  RISCV: /usr/local/spike
  LD_LIBRARY_PATH: /usr/local/spike/lib

stages:
  - build
  - test
  - package

before_script:
  - 'command -v ssh-agent >/dev/null || ( apt-get update -y && apt-get install openssh-client -y )'
  - eval $(ssh-agent -s)
  - echo "$DEPLOY_PRIVATE_KEY" | tr -d '\r' | ssh-add -
  - mkdir -p ~/.ssh && chmod 700 ~/.ssh
  - echo "$DEPLOY_KNOWN_HOSTS" >> ~/.ssh/known_hosts
  - chmod 644 ~/.ssh/known_hosts

build:
  stage : build
  script:
    - mkdir -p build
    - cd build && ../configure --with-isa=rv32imafcv --prefix=$RISCV && make -j`nproc` && cd -

  artifacts:
    paths:
      - build
    name: build_output

test:
  stage : test
  script:
    - export PATH=$CI_PROJECT_DIR/build:$PATH
    - which spike
    - cd /work/verification/isa/riscv-tests/isa && make test -j`nproc` && cd -

package:
  stage : package
  script:
    - cd build && make install && cd -
    - export VER=`echo $CI_COMMIT_REF_NAME | sed 's#/#-#g'`-`date +%Y%m%d`.$CI_PIPELINE_ID
    - mkdir -p archive
    - ./scripts/package.sh $RISCV archive/spike-installer-$VER.sh
    - ln -s archive/spike-installer-$VER.sh latest
    - tar -c latest archive | ssh release@$DEPLOY_SERVER "tar -xC ~/files/simulator/spike"
  only:
    - master
    - tags
