default:
  image: 'harbor.streamcomputing.com/simulator/ubuntu:20.04-stc'

variables:
  GIT_SUBMODULE_STRATEGY: recursive
  RISCV: /usr/local
  LD_LIBRARY_PATH: /usr/local/lib

stages:
  - build
  - test
  - package

cache:
  paths:
    - .cache
    - .env
    - build

build_ubuntu_2004:
  image: 'harbor.streamcomputing.com/simulator/ubuntu:20.04-stc'
  stage : build
  script:
    - 'command -v ssh-agent >/dev/null || ( apt-get update -y && apt-get install openssh-client -y )'
    - eval $(ssh-agent -s)
    - echo "$DEPLOY_PRIVATE_KEY" | tr -d '\r' | ssh-add -
    - mkdir -p ~/.ssh && chmod 700 ~/.ssh
    - echo "$DEPLOY_KNOWN_HOSTS" >> ~/.ssh/known_hosts
    - chmod 644 ~/.ssh/known_hosts
    - ssh $DEPLOY_USER@$DEPLOY_SERVER "rm ~/files/simulator/spike/centos7/2.x-dev-ipa"
    - ssh $DEPLOY_USER@$DEPLOY_SERVER "rm ~/files/simulator/spike/centos7/2.x-hpe"
    - ssh $DEPLOY_USER@$DEPLOY_SERVER "rm ~/files/simulator/spike/ubuntu18.04/2.x-dev-ipa"
    - ssh $DEPLOY_USER@$DEPLOY_SERVER "rm ~/files/simulator/spike/ubuntu18.04/2.x-hpe"
    - ssh $DEPLOY_USER@$DEPLOY_SERVER "rm ~/files/simulator/spike/ubuntu20.04/2.x-dev-ipa"
    - ssh $DEPLOY_USER@$DEPLOY_SERVER "rm ~/files/simulator/spike/ubuntu20.04/2.x-hpe"
    - echo "#define SPIKE_VERSION \"2.0.0-dev-$CI_PIPELINE_ID\"" > VERSION
    - bash -xe scripts/build_spike.sh build_v2_ubuntu_2004
  artifacts:
    paths:
      - build_v2_ubuntu_2004
      - VERSION
    name: build_output_ubuntu_2004

build_ubuntu_1804:
  image: 'harbor.streamcomputing.com/simulator/ubuntu:18.04-stc'
  stage : build
  script:
    - echo "#define SPIKE_VERSION \"2.0.0-dev-$CI_PIPELINE_ID\"" > VERSION
    - bash -xe scripts/build_spike.sh build_v2_ubuntu_1804
  artifacts:
    paths:
      - build_v2_ubuntu_1804
      - VERSION
    name: build_output_ubuntu_1804

build_centos_7:
  image: 'harbor.streamcomputing.com/simulator/centos:7-stc'
  stage : build
  script:
    - echo "#define SPIKE_VERSION \"2.0.0-dev-$CI_PIPELINE_ID\"" > VERSION
    - bash -xe scripts/build_spike.sh build_v2_centos_7
  artifacts:
    paths:
      - build_v2_centos_7
      - VERSION
    name: build_output_centos_7

# Run rvpvp tests on ubuntu 20.04
# tensorflow can't be installed on ubuntu 18.04 and centos 7
test_ubuntu_2004:
  image: 'harbor.streamcomputing.com/simulator/ubuntu:20.04-stc'
  stage : test
  script:
    - bash -xe scripts/test_spike.sh build_v2_ubuntu_2004
  artifacts:
    paths:
      - build_v2_ubuntu_2004
      - VERSION
      - log
    name: test_output_ubuntu_2004
  dependencies:
    - build_ubuntu_2004
  timeout: 6h

package_ubuntu_2004:
  image: 'harbor.streamcomputing.com/simulator/ubuntu:20.04-stc'
  stage : package
  script:
    - bash -xe scripts/release_spike.sh -b build_v2_ubuntu_2004 -v ubuntu20.04
  dependencies:
    - build_ubuntu_2004
  only:
    - 2.x-dev
    - tags

package_ubuntu_1804:
  image: 'harbor.streamcomputing.com/simulator/ubuntu:18.04-stc'
  stage : package
  script:
    - bash -xe scripts/release_spike.sh -b build_v2_ubuntu_1804 -v ubuntu18.04
  dependencies:
    - build_ubuntu_1804
  only:
    - 2.x-dev
    - tags

package_centos_7:
  image: 'harbor.streamcomputing.com/simulator/centos:7-stc'
  stage : package
  script:
    - bash -xe scripts/release_spike.sh -b build_v2_centos_7 -v centos7
  dependencies:
    - build_centos_7
  only:
    - 2.x-dev
    - tags
