image: 'harbor.streamcomputing.com/simulator/ubuntu:18.04-stc'

variables:
  GIT_SUBMODULE_STRATEGY: recursive
  RISCV: /usr/local
  LD_LIBRARY_PATH: /usr/local/lib

stages:
  - build
  - test
  - package

cache:
  paths:
    - .cache
    - .env
    - build

build:
  stage : build
  script:
    - echo "#define SPIKE_VERSION \"1.0.1-$CI_PIPELINE_ID\"" > VERSION
    - mkdir -p build
    - cd build && ../configure --with-isa=rv32imafcv --enable-misaligned --prefix=$PWD/../install && make -j`nproc` && cd -

  artifacts:
    paths:
      - build
      - VERSION
    name: build_output

test:
  stage : test
  script:
    - export PATH=$CI_PROJECT_DIR/build:$RISCV/bin:$PATH
    - which spike
    - curl http://releases.streamcomputing.com/host-sdk/hpe/libnpurt-latest | bash
    - curl http://releases.streamcomputing.com/toolchain/llvm-toolchain/latest | bash
    - git clone --recurse-submodules http://gitlab-ci-token:${CI_JOB_TOKEN}@code.streamcomputing.com/verification/riscv-tests.git
    - cd riscv-tests/isa && make test -j`nproc` && cd -
  artifacts:
    paths:
      - build
      - VERSION
    name: test_output

package:
  stage : package
  script:
    - cd build && make install && cd -
    - export VER=`echo $CI_COMMIT_REF_NAME | sed 's#/#-#g'`-`date +%Y%m%d`.$CI_PIPELINE_ID
    - export LINK=latest
    - test $CI_COMMIT_REF_NAME = "master" || export LINK=`echo $CI_COMMIT_REF_NAME | sed 's#/#-#g'`
    - mkdir -p archive
    - ./scripts/package.sh $PWD/install archive/spike-installer-$VER.sh
    - ln -sf archive/spike-installer-$VER.sh $LINK
    - 'command -v ssh-agent >/dev/null || ( apt-get update -y && apt-get install openssh-client -y )'
    - eval $(ssh-agent -s)
    - echo "$DEPLOY_PRIVATE_KEY" | tr -d '\r' | ssh-add -
    - mkdir -p ~/.ssh && chmod 700 ~/.ssh
    - echo "$DEPLOY_KNOWN_HOSTS" >> ~/.ssh/known_hosts
    - chmod 644 ~/.ssh/known_hosts
    - tar -jc archive $LINK | ssh $DEPLOY_USER@$DEPLOY_SERVER "tar -xjC ~/files/simulator/spike"
  only:
    - master
    - /^[0-9]+\..*$/
    - tags
